.main{
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
  
    padding: 5rem 20.5rem;/*debugging remove*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8));/*its a filter that makes the blurred background a little darker at the top and lighter at the bottom*/
   
    backdrop-filter: blur(20px); /*blur the background*/
    z-index: 99;
}
.close{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 15px;
}
.close_btn{
    border: none;
    background: none;
   
}
/* MAIN CONTENT STARTS */
.content_wrapper{
    display: flex;  
    width: 19.375rem;   
    padding: 3rem 1rem 2rem 1rem; /*mayby*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    flex-shrink: 0;       
    border-radius: 1.5rem;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
    margin: 10rem 0rem 10rem 0rem;
    position: relative;
}
.content_text{
    display: flex;
    color: var(--secondary-font-clr);
    font-family: var(--default-font);
    flex-direction: column;
    align-items: center;
}
.content_text > h1{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.01125rem;
}
.content_text > h4{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.01125rem;
    margin: 1rem;
}
.content_text > p{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.00938rem;
}
.content_btn_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    
}
.content_btn_wrapper > .content_btn{
    color: var(--primary-accent);
    background-color: none;
    border-radius: 3.5rem;
    border: 2px solid var(--primary-accent);
    /* width: calc(12.625rem + (1.5rem + 1.5rem)); */
    width: calc(10.625rem + (1.5rem + 1.5rem));
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.content_btn:active{
    transform: scale(.975rem);
}
/* MAIN CONTENT ENDS */
.formfield{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.label{
    color: var(--secondary-font-clr);
    font-family: var(--default-font);
    font-size: .975em;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.07813rem;
    
}
.inputfield{
    border-radius: 22.5rem;
    border: none;
    background: lightgrey;
    padding: .5rem;
   
}
.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}
.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}



