.navWrapper{
  background-color: var(--alternativeAccent);
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.list{
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}
.list > li{
    margin-right: 1rem;
    font-family: var(--defaultFont);
    font-size: 1.1em;
}
.links{
    color: var(--primaryAccent);
    text-decoration: none;
}

.BtnGroup{
  position: absolute;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    width: 30%;
    flex-direction: column;
    z-index: 99;
    top: 100%;
}
.gameModeBtn{
  background: var(--primaryBg);
    border-radius: 0.5rem;
    color: var(--primaryAccent);
    padding: 0.35rem .75rem;
    font-size: 1em;
    border: 1px solid var(--primaryAccent);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    height: 100%;
}
.gameModeBtn.active{
  background: var(--secondaryBg);
  transform: scale(0.95);
}
.gameModeBtn:hover{
  background: var(--secondaryBg);
}

.logoCont{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.logoCont img{
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
}

.navTitle{
  color: var(--primaryAccent);
  margin-right: 0; /*need to resett the 'Title' components default value*/
  width: 30%;
}
.Dropdown{
  position: relative;
}
.dropdownCont{
  width: 30%;
}