.navWrapper{
    background-color:var(--alternativeAccent);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.list > li{
    margin-right: 1rem;
    font-family: var(--defaultFont);
    font-size: 1.1em;
}
.links{
    color: var(--primaryAccent);
    text-decoration: none;
}
.signInBtn{
    background: none;
    border: none;   
    cursor: pointer;
}
.signInBtn > p{
    color: var(--primaryAccent);
    font-family: var(--defaultFont);
    font-size: 1.1em;
}
.BtnGroup{
    display: flex;
    justify-content: center;    
    gap: .275rem;
  }
  .gamemodeBtn{
    background: var(--primaryBg);
    border-radius: 0.5rem;
    color: var(--primaryAccent);
    padding: 0.35rem .75rem;
    font-size: .85em;
    border: 1px solid var(--primaryAccent);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  .gamemodeBtn.active{
    background: var(--secondaryBg);
    transform: scale(0.95);
  }
  .gamemodeBtn:hover{
    background: var(--secondaryBg);
  }