.ticTacToe-container{
  clear: both;
  content: "";
  display: table;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.ticTacToe-container > h1{
  color: var(--primaryBg);  
  text-align: center;
}
.square{
  border: 2px solid var(--primaryAccent);
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
  background: #ffffff3b;
}
.game-board{
  border: solid 1px var(--primaryAccent);
}

.Title {
  text-align: center;
  font-family: var(--defaultFont);
  font-size: 2em;
  text-shadow: -1px 0px 0px #673AB7;
  color: var(--secondaryAccent);
  padding: 0 2rem 0 2rem;
  margin-bottom: .725rem;
}
.restart-btn {
  background-color:var(--secondaryAccent);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.restart-btn:hover {
  background-color: #45a049;
}

.restart-btn:active {
  background-color: var(#3e8e41);
  transform: scale(.9);
}
.gamemodeContainer{
  margin-top: 0;
}
.gamemodeContainer > p{
  font-size: 1.1em;
  color: var(--primaryAccent);
}
.gamemodeContainer select, option{
    width: 100%;
    font-size: large;
    cursor: pointer;
}
.pageWrapperAI{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.appTitle{
  text-align: center;
    font-family: var(--defaultFont);
    font-size: 2em;
    text-shadow: -1px 0px 0px #673AB7;
    color: var(--secondaryAccent);
    padding: 0 2rem 0 2rem;
    margin: 3rem;
}