:root{
  --primaryBg: darkslategray;
  --secondaryBg: rgb(85, 116, 116);

  --primaryAccent: goldenrod;
  --secondaryAccent: #4CAF50;
  --alternativeAccent: #3e8e41;
  
  --defaultFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  /* background-color: var(--primaryBg); */
  border-image: fill 1 linear-gradient(hsl(0 100% 50% / .7),hsl(39 100% 50% / .7),hsl(60 100% 50% / .7),hsl(120 100% 25% / .7),hsl(240 100% 50% / .7),hsl(275 100% 25% / .7),hsl(300 76% 72% / .7));/*ROYGBIV*/

  margin: auto;
}

main{
  height: 100vh;
}