:root{
  --primaryBg: darkslategray;
  --secondaryBg: rgb(85, 116, 116);

  --primaryAccent: goldenrod;
  --secondaryAccent: #4CAF50;
  --alternativeAccent: #3e8e41;
  
  --defaultFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: var(--primaryBg);;
  margin: auto;
}
