:root{
  --primaryBg: darkslategray;
  --secondaryBg: rgb(85, 116, 116);

  --primaryAccent: goldenrod;
  --secondaryAccent: #4CAF50;
  --alternativeAccent: #3e8e41;
  
  --defaultFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: var(--primaryBg);;
  margin: auto;
}
.Title {
  text-align: center;
  font-family: var(--defaultFont);
  font-size: 3em;
  text-shadow: -4px 3px 12px black;
  color: var(--primaryAccent);
}
.restart-btn {
  background-color:var(--secondaryAccent);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.restart-btn:hover {
  background-color: #45a049;
}

.restart-btn:active {
  background-color: var(#3e8e41);
}
.ticTacToe-container{
  clear: both;
  content: "";
  display: table;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.square{
  border: 1px solid red;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}